:root {
    --accent: #2b6cb0;
    --muted: #6b7280;
    --card: #ffffff;
    /* --bg: #f7fafc */
    --bg: #dee2e6;
}

* {
    box-sizing: border-box
}

html,
body {
    height: 100%
}

body {
    margin: 0;
    /* font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; */
    font-family: "Lexend", sans-serif !important;
    background-color: var(--bg);
    color: #0f172a;
    -webkit-font-smoothing: antialiased;
    line-height: 22px;
}

header.header {
    position: sticky;
    top: 0;
    z-index: 2000;
    background: #fff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.container {
    /* max-width: 1100px; */
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.brand {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: #e63946;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 16px;
    margin: 0;
    padding: 0;
    margin-left: 40%;
}

.nav a {
    text-decoration: none;
    font-weight: 600;
    /* color: var(--muted); */
}

.cta {
    background-color: #e63946;
    color: white;
    padding: 10px 14px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 700;
}

/* product-banner */

.product-banner img{
    width: 100%;
}

/* product details */
.product-cont {
    margin: 0 180px;
}
.product-header h4 {
    font-size: 32px;
    line-height: 60px;
    font-weight: 400;
    color: #000;
}
table {
    margin-left: 25px;
}
tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
    /* font-family: "Lexend", sans-serif !important; */
}
td {
    border-bottom: 1px solid #eee;
    padding: 5px 15px;
}
tbody {
    color: #888;
    
}

/* form-details */
.prd-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
form {
    background-color: white;
    padding: 18px;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(2, 6, 23, 0.07);
    height: 55%;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

label {
    display: flex;
    font-weight: 600;
    margin-top: 10px;
    font-size: 16px;
    color: #212529;

}
input,
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #e6edf3;
    border-radius: 8px;
    margin-top: 6px;
    font-size: 16px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

#contactForm button {
    background-color: var(--accent);
    color: white;
    border: none;
    padding: 9px 16px;
    border-radius: 10px;
    font-weight: 700;
    margin-top: 12px;
    cursor: pointer;
}